<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1 class="animated fadeIn fast">About Comic App</h1>
      <hr>
      <p class="animated fadeIn">Look, we go back, we get the stones before Thanos gets them... Thanos doesn't have the stones. Problem solved.  Everyone fails at who they are supposed to be, Thor. The measure of a person, of a hero, is how well they succeed at being who they are.  Hey... Mr. Stark? Can you hear me? It's Peter. Hey. We won, Mr. Stark... We won, Mr. Stark. We won. You did it, sir. You did it.</p>
      <p class="animated fadeIn">Hey, you guys want mayo or mustard, or both?  If we do this, how do we know it's gonna end any differently than it did before?  You know I'd offer to cook you dinner but you seem pretty miserable already. Okay, so, uhh... We just wait around for this Quill guy to show up and then he leads us to the Power Stone, is that it? </p>
    </div>
  </div>
</div>